<div class="shadow-block">
  <h1>Состояния модели</h1>

  <ul>
    <li appPendingMessage>ng-untouched - если элемент ввода еще не получал фокус</li>
    <li>ng-touched - если поле ввода уже получало фокус</li>
    <li>ng-invalid - если значение некорректно</li>
    <li>ng-valid - если значение в поле ввода корректно</li>
    <li>
      ng-pristine - первоначальное значение не изменялось с момента загрузки
      страницы
    </li>
    <li>ng-dirty - первоначальное значение в поле ввода было изменено</li>
    <li>ng-pending - ожидание асинхронной валидации</li>
  </ul>
</div>
