<section class="shadow-block">
  <h1>Reactive Forms</h1>

  <form class="form" [formGroup]="form">
    <div class="row-form-control">
      <div class="col-4">Имя</div>
      <div class="col-6">
        <input
          type="text"
          placeholder="Имя"
          formControlName="firstName"
          appValidation
        />
      </div>
    </div>
    <div class="row-form-control">
      <div class="col-4">Фамилия</div>
      <div class="col-6">
        <div class="input-box">
          <input
            type="text"
            placeholder="Фамилия"
            formControlName="lastName"
            appValidation
          />
        </div>
      </div>
    </div>
    <div class="row-form-control">
      <div class="col-4">Пароль</div>
      <div class="col-6">
        <div class="input-box">
          <input
            type="text"
            placeholder="Пароль"
            [formControl]="passwordControl"
            appValidation
          />
        </div>
      </div>
    </div>
    <div class="row-form-control">
      <div class="col-4">Повторите пароль</div>
      <div class="col-6">
        <div class="input-box">
          <input
            type="text"
            placeholder="Пароль"
            [formControl]="repeatPasswordControl"
            appValidation
          />
        </div>
      </div>
    </div>
    <div class="row-form-control">
      <div class="col-4">Способ подтверждения</div>
      <div class="col-6">
        <div class="radio-options">
          @for (method of confirmationMethods$ | async; track method.value) {
          <div class="radio">
            <input
              type="radio"
              [id]="method.value"
              [value]="method.value"
              formControlName="method"
              appValidation
              name="method"
            />
            <label [for]="method.value">{{ method.label }}</label>
          </div>
          }
        </div>
      </div>
    </div>

    <div class="row-form-control">
      <div class="col-4"></div>
      <div class="col-6">
        @if(methodControl.value === ConfirmationMethodsEnum.EMAIL) {
        <input
          type="text"
          placeholder="Эл. почта"
          formControlName="email"
          appPendingMessage
          appValidation
        />
        } @else {
        <app-phone-input
          formControlName="phone"
          appValidation
        ></app-phone-input>
        }
      </div>
    </div>
    <div class="row-form-control">
      <div class="col-4">Дата рождения</div>
      <div class="col-6">
        <div class="input-box">
          <input
            type="text"
            onfocus="(this.type='date')"
            placeholder="Дата рождения"
            formControlName="birthdayDate"
            appValidation
          />
        </div>
      </div>
    </div>
    <div class="row-form-control">
      <div class="col-4">Пол</div>
      <div class="col-6">
        <div class="radio-options">
          @for (gender of gender$ | async; track gender.value) {
          <div class="radio">
            <input
              type="radio"
              [id]="gender.value"
              [value]="gender.value"
              formControlName="gender"
              appValidation
              name="gender"
            />
            <label [for]="gender.value">{{ gender.label }}</label>
          </div>
          }
        </div>
      </div>
    </div>
    <div class="addresses" formArrayName="addresses">
      @for (address of addressesForm; track address; let i = $index) {
      <div class="row-form-control">
        <div class="col-4">@if (i === 0) { Адрес }</div>
        <div class="col-6" [formGroupName]="i">
          <div class="input-box">
            <input
              type="text"
              placeholder="Адрес"
              formControlName="address"
              appValidation
            />
          </div>
        </div>
        @if(i === addressesForm.length - 1 ) {
        <div class="col-2 add-btn">
          <app-add-button (add)="addAddressControl()" />
        </div>
        }
      </div>
      }
    </div>
    <div class="buttons-group">
      <button
        class="form-button"
        type="submit"
        (click)="send()"
      >
        Отправить
      </button>
      <button class="form-button" (click)="toggle()">
        {{ form.disabled ? "Включить" : "Отключить" }}
      </button>
    </div>
  </form>
</section>
