<section class="shadow-block">
  <h1>Template Driven Forms</h1>

  <form
    class="form"
    (ngSubmit)="submit(registrationForm)"
    #registrationForm="ngForm"
  >
    <div class="row-form-control">
      <div class="col-4">Имя</div>
      <div class="col-6">
        <input
          type="text"
          placeholder="Имя"
        />
      </div>
    </div>
    <div class="row-form-control">
      <div class="col-4">Фамилия</div>
      <div class="col-6">
        <app-validation-message>
          <input
            type="text"
            placeholder="Фамилия"
            name="lastName"
            ngModel
            required
          />
        </app-validation-message>
      </div>
    </div>
    <div class="row-form-control">
      <div class="col-4">Пароль</div>
      <div class="col-6">
        <app-validation-message>
          <input
            type="text"
            placeholder="Пароль"
            ngModel
            name="password"
            required
          />
        </app-validation-message>
      </div>
    </div>
    <div class="row-form-control">
      <div class="col-4">Повторите пароль</div>
      <div class="col-6">
        <app-validation-message>
          <input
            type="text"
            placeholder="Пароль"
            ngModel
            name="repeatPassword"
            required
            #repeatPassword="ngModel"
          />
        </app-validation-message>
      </div>
    </div>
    <div class="row-form-control">
      <div class="col-4">Эл. почта</div>
      <div class="col-6">
        <app-validation-message>
          <input
            type="text"
            placeholder="Эл. почта"
            name="email"
            ngModel
            required
            email
          />
        </app-validation-message>
      </div>
    </div>
    <div class="row-form-control">
      <div class="col-4">Телефон</div>
      <div class="col-6">
        <app-validation-message>
          <input
            type="text"
            placeholder="Телефон"
            name="phone"
            ngModel
            required
            pattern="[0-9]{11}"
          />
        </app-validation-message>
      </div>
    </div>
    <div class="row-form-control">
      <div class="col-4">Дата рождения</div>
      <div class="col-6">
        <app-validation-message>
          <input
            type="date"
            placeholder="Дата рождения"
            name="birthdayDate"
            ngModel
            required
          />
        </app-validation-message>
      </div>
    </div>
    <div class="row-form-control">
      <div class="col-4">Пол</div>
      <div class="col-6">
        <app-validation-message>
          <div class="radio-options">
            @for (gender of genders$ | async; track gender.value) {
            <div class="radio">
              <input
                type="radio"
                [id]="gender.value"
                [value]="gender.value"
                name="gender"
                ngModel
              />
              <label [for]="gender.value">{{ gender.label }}</label>
            </div>
            }
          </div>
        </app-validation-message>
      </div>
    </div>
    <div class="row-form-control">
      <div class="col-4">Адрес</div>
      <div class="col-6">
        <app-validation-message>
          <input
            type="text"
            placeholder="Адрес"
            name="address"
            ngModel
            required
          />
        </app-validation-message>
      </div>
    </div>
    <button class="form-button" type="submit">Отправить</button>
  </form>
</section>

<app-template-driven-what-to-do />
