<div class="shadow-block">
  <h1>NgModel</h1>

  <div class="row-form-control">
    <div class="col-4">Введите текст</div>
    <div class="col-6">
      <div class="input-box">
        <input
          type="text"
          [(ngModel)]="text"
          [ngModelOptions]="{ updateOn: 'blur' }"
          (ngModelChange)="onModelChange()"
          />
      </div>
    </div>
  </div>
  <div class="row-form-control">
    <div class="col-4">Введенный текст отобразится здесь:</div>
    <div class="col-6">
      {{ text }}
    </div>
  </div>
  <div class="row-form-control">
    <div class="col-6">
      <button class="form-button" type="submit" (click)="resetControl()">
        Сбросить
      </button>
    </div>
  </div>
</div>
