body {
  font-family: var(--font-family), 'sans-serif';
  color: var(--gray-dark);
}

.shadow-block {
  border-radius: 15px;
  box-shadow: 0px 0px 15px 0px rgba(34, 60, 80, 0.1);
  padding: 30px 25px;
}

h1 {
  font-weight: 600;
  font-size: 22px;
  margin: 0 0 15px;
}


ol {
  padding: 0 20px;
}

